%section#contact
	%h2.text-center
		Contacto
	.container
	
		.row
			.col-md-12

				-# %small
				-# 	Add alerts if form ok... success, else error.
				-# .alert.alert-success
				-# 	%strong
				-# 		%span.glyphicon.glyphicon-send
				-# 		Success! Message sent. (If form ok!)
				-# .alert.alert-danger
				-# 	%span.glyphicon.glyphicon-alert
				-# 	%strong Error! Please check the inputs. (If form error!)
				%form{ :'ng-submit' => 'sendTheMail()', :'ng-controller' => 'ContactCtrl' }
					.col-lg-6
						-# .well.well-sm
						-# 	%strong
						-# 		%i.glyphicon.glyphicon-ok.form-control-feedback
						-# 		Required Field
						.form-group
							%label Nombre
							%input.form-control{:'ng-model' => 'name', :'placeholder' => 'Ingrese su Nombre', :'required' => 'required', :'type' => 'text' }
								
						.form-group
							%label Email
							%input.form-control{:'ng-model' => 'email', :'placeholder' => 'Ingrese su Email', :'required' => 'required', :'type' => 'email' }
								
						.form-group
							%label Mensaje
							%textarea.form-control{:'ng-model' => 'message', :'required' => 'required', :rows => '5' }
								
						-# .form-group
						-# 	%label{:for => "InputReal"} What is 4+3? (Simple Spam Checker)
						-# 	.input-group
						-# 		%input#InputReal.form-control{:'ng-model' => "InputReal", :'required' => 'required', :'type' => 'text'}
						-# 		%span.input-group-addon
						-# 			%i.glyphicon.glyphicon-ok.form-control-feedback
						%input#submit.btn.btn-info.pull-right{:'ng-model' => 'submit', :'type' => 'submit', :value => 'Enviar', :'ng-class' => '{disabled:sending}' }
						%i.fa.fa-spinner.fa-pulse.sending{ :'ng-show' => 'sending' }
				%hr.featurette-divider.hidden-lg
				.col-lg-5.col-md-push-1
					%address
						%h3 Alto Cascabeles
						%p.lead
							Casilla 132
							%br
							Quillota, V Región - Chile
						%p
							%i.fa.fa-phone
							(+56 9) 9871 8365
						%p
							%i.fa.fa-envelope
							ggastaburuaga@gmail.com
								