%section#contact
	%h2.text-center
		Contacto
	.container
	
		.row
			.col-md-12

				-# %small
				-# 	Add alerts if form ok... success, else error.
				-# .alert.alert-success
				-# 	%strong
				-# 		%span.glyphicon.glyphicon-send
				-# 		Success! Message sent. (If form ok!)
				-# .alert.alert-danger
				-# 	%span.glyphicon.glyphicon-alert
				-# 	%strong Error! Please check the inputs. (If form error!)
				%form{:action => "", :method => "post", :role => "form"}
					.col-lg-6
						-# .well.well-sm
						-# 	%strong
						-# 		%i.glyphicon.glyphicon-ok.form-control-feedback
						-# 		Required Field
						.form-group
							%label{:for => "InputName"} Nombre
							%input.form-control{:name => "InputName", :placeholder => "Ingrese su Nombre", :required => "", :type => "text"}
								
						.form-group
							%label{:for => "InputEmail"} Email
							%input.form-control{:name => "InputEmail", :placeholder => "Ingrese su Email", :required => "", :type => "email"}
								
						.form-group
							%label{:for => "InputMessage"} Mensaje
							%textarea.form-control{:name => "InputMessage", :required => "", :rows => "5"}
								
						-# .form-group
						-# 	%label{:for => "InputReal"} What is 4+3? (Simple Spam Checker)
						-# 	.input-group
						-# 		%input#InputReal.form-control{:name => "InputReal", :required => "", :type => "text"}
						-# 		%span.input-group-addon
						-# 			%i.glyphicon.glyphicon-ok.form-control-feedback
						%input#submit.btn.btn-info.pull-right{:name => "submit", :type => "submit", :value => "Enviar"}

				%hr.featurette-divider.hidden-lg/
				.col-lg-5.col-md-push-1
					%address
						%h3 Alto Cascabeles
						%p.lead
							Providencia #757 - Santiago - Chile
						%p
							%i.fa.fa-phone
							(+56 2) 25555555
						%p
							%i.fa.fa-envelope
							info@altocascabeles.cl
								