%section#features
	.container
		%h2.text-center
			Características
		.row
			.col-sm-4.col-md-3.info
				%h3.text-center Parcelas desde 5.000mt²
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/01.jpg' }
				%p.text-center
					Hemos estudiado y dispuesto nuestras parcelas de manera tal de asegurar una extraordinaria vista al mar y en un espacio que maximice su sensación de libertad.
			.col-sm-4.col-md-3.info
				%h3.text-center Club de Golf
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/02.jpg' }
				%p.text-center
					Nuestro proyecto incluye una cancha de golf de 18 años diseñada por maestros de este legendario deporte (foto referencial).
			.col-sm-4.col-md-3.info
				%h3.text-center Lagunas artificiales
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/03.jpg' }
				%p.text-center
					Para los amantes del agua, que mejor que 2 lagunas que permitan una amplia gama de deportes náuticos (foto referencial).
			.col-sm-4.col-md-3.info
				%h3.text-center Agua potable
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/04.jpg' }
				%p.text-center
					En zonas donde el agua escasea, durante la última década hemos ha realizado todas las obras de ingeniería necesarias que aseguran este vital elemento.
			.col-sm-4.col-md-3.info
				%h3.text-center Sobre Ruta 5
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/05.jpg' }
				%p.text-center
					El acceso a nuestro condominio está sobre la misma Ruta 5 con todo el ahorro de tiempo que eso significa.
			.col-sm-4.col-md-3.info
				%h3.text-center Canchas de tenis
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/06.jpg' }
				%p.text-center
					Nuestras canchas de tenis están insertas en un grato ambiente natural para disfrutar este deporte en plenitud (foto referencial).
			.col-sm-4.col-md-3.info
				%h3.text-center Zona equitación
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/features/07.jpg' }
				%p.text-center
					Contamos con el entorno ideal para incursionar en esta noble tradición (foto referencial).