%section#features
	.container
		%h2.text-center
			Características
		.row
			.col-sm-4.info
				%h3.text-center Parcelas desde 5.000mt²
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-sm-4.info
				%h3.text-center Amplia vista al mar
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-sm-4.info
				%h3.text-center Flora y fauna nativa
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-sm-4.info
				%h3.text-center Disponibilidad de agua potable
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-sm-4.info
				%h3.text-center Laguna para deporte acuático
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.col-sm-4.info
				%h3.text-center Acceso Ruta 5 Norte
				.img-circ.logo
					%img.img-responsive{ :'src' => 'img/negro-preview.png' }
				%p.text-center
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.