%header{ :'parallax-background' => 'parallax-background', :'parallax-ratio' => '-0.2' }
	#top.text-center{ :'parallax' => 'parallax', :'parallax-ratio' => '0.1' }
		.logo
		%h1.text-center
			%span Alto
			Cascabeles
	.sub.container
		.car{ :'uib-carousel interval' => '6000', :'no-wrap' => 'false', :'ng-cloak' => 'ng-cloak' }
			%uib-slide{ :'active' => 'slide.active' }
				%p.text-center
					Trajimos la magia del sur y le a침adimos la mejor vista al mar...
					%br
					y todo a s칩lo dos horas y media de Santiago.
			%uib-slide
				%p.text-center
					Dos condominios de lujo con parcelas de m치s 
					%br
					de 5.000 metros cuadrados.
			%uib-slide
				%p.text-center
					Ven a disfrutar de un entorno natural sin comparaci칩n en la region...
					%br
					te esperamos.

		.icon-scroll
			.mouse.hidden-xs
				.wheel
			.arrow
				%span.a1
				%span.a2
				%span.a3