%section#map
	%h2.text-center
		Ubicación
	.container
		.row
			.col-sm-12
				%h4.text-center Quebrada del Negro
				%p.text-center
					%span
						202
					Parcelas
				%h4.text-center Faldeos de Cascabeles
				%p.text-center
					%span
						509
					Parcelas
	.map-container
		.col-sm-7.map
			#streetview
				%ng-map{ :'center' => '-31.97263811305891,-71.49172659950125' }
					%street-view-panorama{ :'position' => '-31.97263811305891,-71.49172659950125', :'scrollwheel' => 'false', :'visible' => 'true', :'pov' => '{heading: 130, pitch: 0}' }


		.col-sm-5.map
			%ng-map{ :'center' => '[-31.9741138,-71.4893109]', :'scrollwheel' => 'false', :'styles' => '[{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#808080"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#ece2d9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]' }
				%marker{ :'position' => '-31.9741138,-71.4893109', :'icon' => '{ url:"img/mark.png" }' }

