.modal-content
  .modal-header
    %button.close{ :'aria-hidden' => 'true', 'ng-click' => 'cancel()', :type => 'button' }
      %i.fa.fa-close
    %h4.modal-title.text-center
      Lotes
  .modal-body
    %img.img-responsive.center-block{ :'src' => 'img/loteos.png' }